<p id="notice"><%= notice %></p>

<% if @user %>
  <%= stylesheet_link_tag "views/top", :media => "all" %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui-1.7.3.custom.css' %>
  <script type="text/javascript">
    $(function() {
        $("#datepicker").datepicker();
        });
  </script>

  <% @user_picture_url_square = "http://graph.facebook.com/#{@user.provider_uid}/picture?type=square" %>
  <% @user_picture_url_normal = "http://graph.facebook.com/#{@user.provider_uid}/picture?type=normal" %>

  <!-- top -->
  <div id="top">
    <div id="leftArea">
      <div id="profileImg">
        <h2>Hi <%= @user.name %>!! Welcome back!!</h2>
        <div class="flexslider">
          <ul class="slides">
            <li><%= image_tag @user_picture_url_normal, width:"175", height:"175", alt:"picture" %></li>
          </ul>
        </div>
        <p class="textC"><%= link_to "Edit Profile", edit_user_path(@user) %></p>
      </div>
      <div id="upcomingArea">
        <h3>Upcoming Dining</h3>
        <ul>
          <% @user_meetups.each do |meetup| %>
            <% meetup.users.each do |u|
                 next if u == current_user
                 @target_user = u
                 break
               end
               if @target_user.blank?
                 @target_user = current_user
               end
               target_user_picture_url_square = "http://graph.facebook.com/#{@target_user.provider_uid}/picture?type=square"
               other_members_num = meetup.users.size - 2
            %>

            <li>
            <div class="recentStreamBox">
              <div class="imgArea">
                <%= image_tag "http://graph.facebook.com/#{@target_user.provider_uid}/picture?type=square", width:"50", height:"50", alt:"picture" %>
              </div>
              <div class="detailArea">
                With <%= link_to @target_user.name, user_path(@target_user) %><br>
                <% if other_members_num > 0 %>
                  and <%= other_members_num %> pepole<br>
                <% end %>
                <time><%= meetup.begin_at %></time>
                <%= link_to meetup.title, meetup_path(meetup) %>
              </div>
            </div>
            </li>
          <% end if @user_meetups %>
        </ul>
      </div>
      <div id="doingArea">
        <h3>Things to do</h3>
        <ul>
          <% if @user.attributes.has_value?(nil) %>
            <li><%= link_to "complete your profile", user_path(@user) %></li>
          <% end %>
          <% if @review_to_write %>
            <% @review_to_write.each do |r| %>
              <li><%= link_to "write review for #{r[2]}", new_user_review_path(user_id: r[1]) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>


    <div id="rightArea">
      <h2>Find People</h2>
      <!-- localSearch -->
      <div id="localSearch">
        <%= form_tag users_path, :method => 'get' do %>
          <ul class="findSearch">
            <li><%= text_field_tag "search[location]", "", placeholder: "Area (e.g. Tokyo Kyoto Osaka)", class: "textBox" %> </li>
            <li class="date"><label>Date<br><%= text_field_tag "search[date]", "", id: 'datepicker', placeholder: "mm/dd/yyyy" %> </label></li>
            <li class="time"><label>Time<br><%= select_tag "search[time]", options_for_select(["Breakfast", "Lunch", "Tea time", "Dinner", "Drink"]), {include_blank: true} %> </label></li>
            <li><%= submit_tag "Search", :name => nil, class: "btn1 searchBtn" %></li>
          </ul>
        <% end %>
      </div>
      <%= link_to "invite friends", "https://www.facebook.com/dialog/send?app_id=266456056788979&name=Have%20LOCAL%20dining%20with%20LOCAL%20People&link=http://relicious.me/&redirect_uri=http://relicious.me/" %>

      <h2>Relicious dining around you</h2>
      <% if @recent_meetups %>
        <% @recent_meetups.each do |meetup| %>
          <!-- recentStreamBox -->
          <div class="recentStreamBox">
            <div class="imgArea">
              <% meetup.users.each_with_index do |user, idx| %>
                <div class="colBox">
                  <% if idx == 1 %> <strong>&</strong> <% end %>
                  <%= link_to image_tag("http://graph.facebook.com/#{user.provider_uid}/picture?type=square", width:"75", height:"75", alt:"picture"), user_path(user) %>
                </div>
                <% break if idx > 1 %>
              <% end %>
            </div>
            <div class="detailArea">
              <p><time ><%= meetup.begin_at %></time><br>
              <% if meetup.public %>
                <%= link_to meetup.title, meetup_path(meetup) %><br>
              <% else %>
                <%= meetup.title %><br>
              <% end %>
              <%= meetup.area.name %></p>
            </div>
          </div>
          <!-- /recentStreamBox -->
        <% end %>
        <div style="text-align: center;"><%= link_to "see more", meetups_path %></div>
      <% else %>
        <p>meetup not found for now.</p>
      <% end %>
    </div>
  </div>
  <!-- /top -->

<% else %>
  <%= stylesheet_link_tag "views/login", :media => "all" %>

  <!-- Facebook plug in -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- /Facebook plug in -->
  
  <!-- topArea -->
  <div id="topArea">
  
    <!-- topTitle -->
    <div id="topTitle">
      <h1><%= link_to image_tag("logo.png", width:"315", height:"200", alt:"Relicious"), root_path %></h1>
    </div>
    <!-- /topTitle -->
  
    <!-- greetingArea -->
    <div id="greetingArea">
  
      <!-- topNavArea -->
      <div id="topNavArea">
        <nav>
        <ul>
          <li><select name="language">
            <option value="Japanese">日本語</option>
            <option value="English">English</option>
          </select></li>
          <li><a href="/auth/facebook" class="login">Sing Up / Log in</a></li>
          <li><a href="#" class="privay">Privcy Policy</a></li>
          <li><a href="#" class="info">How it works</a></li>
        </ul>
        </nav>
      </div>
      <!-- /topNavArea -->
  
      <!-- greeting -->
      <div id="greeting">
        <h2>Have LOCAL dining with LOCAL people, make your daily dining intercultural.</h2>
        <p>"Relicious" is a platform for foreign travelers to find the local people to have local food together, and for local people to find chances to communicate with foreign people through thier daily dinings.</p>
        <p><a class="btn-auth btn-facebook large" href="/auth/facebook">Sign in with <b>Facebook</b></a></p>
      </div>
      <!-- /greeting -->
  
    </div>
    <!-- /greetingArea -->
  
  </div>
  <!-- topArea -->
  
  <!-- bottomArea -->
  <div id="bottomArea">
  
    <!-- recentStream -->
    <div id="recentStream">
      <h2>Relicious dining in these days</h2>
      <!-- recentStreamBox -->
      <% if @recent_meetups %>
        <% @recent_meetups.each do |meetup| %>
          <!-- recentStreamBox -->
          <div class="recentStreamBox">
            <div class="imgArea">
              <% meetup.users.each_with_index do |user, idx| %>
                <div class="colBox">
                  <%= link_to image_tag("http://graph.facebook.com/#{user.provider_uid}/picture?type=square", width:"35", height:"35", alt:"picture"), user_path(user) %>
                </div>
                <% break if idx > 1 %>
              <% end %>
            </div>
            <div class="detailArea">
              <p><time ><%= meetup.begin_at %></time><br>
              <% if meetup.public %>
                <%= link_to meetup.title, meetup_path(meetup) %><br>
              <% else %>
                <%= meetup.title %><br>
              <% end %>
              <%= meetup.area.name %></p>
            </div>
          </div>
          <!-- /recentStreamBox -->
        <% end %>
      <% else %>
        <p>meetup not found for now.</p>
      <% end %>
      <!-- /recentStreamBox -->
    </div>
    <!-- /recentStream -->
  
    <!-- Facebook social plugin -->
    <div id="fbPlugin">
      <div class="fb-activity" data-width="475" data-height="300" data-header="true" data-recommendations="false"></div>
    </div>
    <!-- /Facebook social plugin -->
  
  </div>
  <!-- /bottomArea -->
<% end %>

