<%= stylesheet_link_tag "views/message_for_top.scss.css", :media => "all" %>

<script type="text/javascript">
  $(window).load(function() {
      $('.flexslider').flexslider();
      });
</script>

<p id="notice"><%= notice %></p>

<% if @user %>
  <%= stylesheet_link_tag "views/top", :media => "all" %>
  <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
  <%= stylesheet_link_tag 'jquery-ui-1.7.3.custom.css' %>
  <script type="text/javascript">
    $(function() {
        $("#datepicker").datepicker();
        });
  </script>

  <!-- top -->
  <div id="top">
    <div id="leftArea">

      <div id="profileImg">
        <h2><strong>Hi <%= @user.name %>!!</strong><br>Welcome back!!</h2>
        <div class="flexslider">
          <ul class="slides">
            <li><%= facebook_image_link(@user, 'normal', 175) %></li>
          </ul>
        </div>
        <p class="textC"><%= link_to t("user_top.edit_profile"), edit_user_path(@user) %></p>
      </div>
      <div id="doingArea">
        <h3><%= t("user_top.todo_text") %></h3>
        <ul>
          <% if @user.attributes.has_value?(nil) %>
            <li><%= link_to t("user_top.todo_profile"), user_path(@user) %></li>
          <% end %>
          <% if @users_to_review %>
            <% @users_to_review.each do |u| %>
              <li><%= link_to t("user_top.todo_review", user: u.name), new_user_review_path(user_id: u.id) %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="rightArea">
      <h2><%= t("user_top.user_search_text") %></h2>

      <!-- localSearch -->
      <div id="localSearch">
        <p class="fontS"><%= t("general.search.explain") %></p><br>
        <%= form_tag users_path, :method => 'get' do %>
          <ul class="findSearch">
            <li><%= text_field_tag "search[location]", "", placeholder: t("general.search.location_placeholder"), class: "textBox", size: 20 %> </li>
            <li class="date"><label><%= t("general.search.day") %><br><%= text_field_tag "search[date]", "", id: 'datepicker', placeholder: "mm/dd/yyyy", size: 12 %> </label></li>
            <li class="time"><label><%= t("general.search.option") %><br><%= select_tag "search[time]", options_for_select( t("general.search.options") ), {include_blank: true} %> </label></li>
            <li><%= submit_tag t("general.search.button"), :name => nil, class: "btn1 searchBtn" %></li>
          </ul>
        <% end %>
      </div>
      
      <div id="upcomingArea">
        <h2><%= t("user_top.upcoming_text") %></h2>
        <ul>
          <% unless @meetups.blank? %>
            <div id="status-list">
              <%= render 'meetups/list' %>
            </div>
          <% else %>
            <li>Let's find someone to have local food together</li>
          <% end %>
            
        </ul>
      </div>

      <h2><%= t("user_top.recent_meetup_text") %></h2>
      <% unless @recent_meetups_exceptme.blank? %>
        <% @recent_meetups_exceptme.each do |meetup| %>
          <!-- recentStreamBox -->
          <div class="recentStreamBox">
            <h3 class="stream"><%= meetup.title %></h3>
            <div class="imgArea">
              <% meetup.users.each_with_index do |user, idx| %>
                <div class="colBox">
                  <%= facebook_image_link(user, 'square', 75) %>
                  <%= user.name %>
                </div>
                <% break if idx > 1 %>
              <% end %>
            </div>
            <div class="detailArea">
              <p>
              <time ><%= t( "top.recent_meetups.begin_at" ) %> : <%= meetup.begin_at ? meetup.begin_at.strftime("%Y/%m/%d %H:%M") : '-' %></time><br>
                <%= t( "top.recent_meetups.area_name" ) %>     : <%= meetup.area ? meetup.area.name : '-' %><br>
                <%= t( "top.recent_meetups.place" ) %>         : <%= meetup.place ? meetup.place : '-' %><br>
              </p>
              <% if meetup.public %>
                <%= link_to t("top.recent_meetups.see_detail"), meetup_path(meetup), class: "btn1" %><br>
              <% end %>
            </div>
          </div>
          <!-- /recentStreamBox -->
        <% end %>
        <div class="textC mt10"><%= link_to "see more", meetups_path %></div>
      <% else %>
        <p>other meetups not found for now.</p>
      <% end %>
    </div>
  </div>
  <!-- /top -->

<% else %>
  <%= stylesheet_link_tag "views/login", :media => "all" %>

  <!-- Facebook plug in -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=285657531456327";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- /Facebook plug in -->

  <!-- topNavArea -->
      <div id="topNavArea">
        <nav>
        <ul>
          <li>Language <%= select_tag "language", options_for_select([["English", "en"], ["日本語", "ja"]], params[:lang]) %></li>
          <li><a href="/auth/facebook" class="login"><%= t("top.header.signup") %></a></li>
          <li><a href="/privacy.html" class="privay"><%= t("top.header.privacy") %></a></li>
          <li><a href="/about.html" class="info"><%= t("top.header.howitworks") %></a></li>
        </ul>
        </nav>
      </div>
      <script>
        $("#language").change ( function () {
            window.location.replace('/?lang='+this.value);
          });
      </script>
      <!-- /topNavArea -->  
  
      <!-- topTitle -->
      <div id="topTitle">
        <h1><%= link_to image_tag("logo_alpha.jpg", width:"335", height:"210", alt:"Relicious"), root_path %></h1>
      </div>
      <!-- /topTitle -->
  
      <!-- greetingArea -->
      <div id="greetingArea">
  
      <!-- greeting -->
      <div id="greeting">
        <h2><%= t("top.introduction.title") %></h2>
        <p class="mb30"><%= t("top.introduction.explain") %></p>
        <p class="textC mb20"><%= link_to t("top.introduction.signup_button"), "/auth/facebook", class: "btn3 large" %></p>
        <p><%= t("top.signup.explain") %></p>
      </div>
      <!-- /greeting -->
  
    </div>
    <!-- /greetingArea -->
  
    <!-- recentStream -->
    <div id="recentStream" class="mb30">
      <h2><%= t("top.recent_meetups.header_title") %></h2>
      <!-- recentStreamBox -->
      <% unless @recent_meetups.blank? %>
        <% @recent_meetups.each do |meetup| %>
          <% next unless meetup.public %>
          <!-- recentStreamBox -->
          <div class="recentStreamBox">
            <h3 class="stream"><%= meetup.title %></h3>
            <div class="imgArea mr30">
              <% meetup.users.each_with_index do |user, idx| %>
                <div class="colBox">
                  <%= facebook_image_link(user, 'square', 75) %>
                </div>
                <% break if idx > 1 %>
              <% end %>
            </div>
            <div class="detailArea clear">
              <p class="floatL mr30">
              <time ><%= t( "top.recent_meetups.begin_at" ) %> : <%= meetup.begin_at ? meetup.begin_at.strftime("%Y/%m/%d %H:%M") : '-' %></time><br>
                <%= t( "top.recent_meetups.area_name" ) %>     : <%= meetup.area ? meetup.area.name : '-' %><br>
                <%= t( "top.recent_meetups.place" ) %>         : <%= meetup.place ? meetup.place : '-' %><br>
              </p>
              <% if meetup.public %>
                <p class="floatL"><%= link_to t("top.recent_meetups.see_detail"), meetup_path(meetup), class: "btn1" %></p>
              <% end %>
            </div>
          </div>
          <!-- /recentStreamBox -->
        <% end %>
      <% else %>
        <p>meetups not found for now.</p>
      <% end %>
      <!-- /recentStreamBox -->
    </div>
    <!-- /recentStream -->
  
    <!-- Facebook social plugin -->
    <div id="fbPlugin">
      <div class="fb-like-box" data-href="https://www.facebook.com/relicious.me" data-width="850" data-height="298" data-show-faces="true" data-stream="true" data-header="false"></div>
    </div>
    <!-- /Facebook social plugin -->
  
<% end %>

