<%= stylesheet_link_tag "views/registration", :media => "all" %>

<% @meetup_comments = @meetup.meetup_comments.build %>
<%= form_for(@meetup, html: {id: "registration"}) do |f| %>
  <% [@meetup, @meetup_comment].each do |object| %>
    <% if object.errors.any? %>
      <div id="error_explanation">
        <h3><%= t("errors.template.body") %></h3>
        <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><strong><p class="fontCR"><%= msg %></p></strong></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>

  <%= hidden_field_tag :member, params[:member] %>

  <p class="fontCR"><%= t("meetups.new.header_explain") %></p>
  <table>
    <tr>
      <th><%= t("meetups.new.title") %></th>
      <td>
        <p><%= t("meetups.new.title_explain_html") %></p>
        <%= f.text_field :title %>
      </td>
    </tr>

    <%= fields_for :meetup_comment, @meetup_comment do |mc_field| %>
      <tr>
        <th><%= t("meetups.new.comment") %></th>
        <td>
          <%= t("meetups.new.comment_explain_html") %>
          <%= mc_field.text_area :body, size: '40x5' %>
        </td>
      </tr>
    <% end %>

    <tr>
      <th>Publicness</th>
      <td>
        <%= t("meetups.new.public_explain") %><br>

        <span class="fontCB">
          public:Yes<br> private:No
        </span><br>

        <%= f.select :public, options_for_select([["public", 1], ["private", 0]], 1) %>
      </td>
    </tr>
  </table>

  <p class="textC"><%= f.submit t("general.send"), {class: "btn1"} %></p>
<% end %>
