<%= stylesheet_link_tag "views/registration", :media => "all" %>

<%= form_for(@meetup, html: {id: "registration"}) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@meetup.errors.count, "error") %> prohibited this meetup from being saved:</h3>

      <ul>
      <% @meetup.errors.full_messages.each do |msg| %>
        <li><p class="fontCR"><%= msg %></p></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :member, params[:member] %>

  <p class="fontCR"><%= t("meetups.new.header_explain") %></p>
  <table>
    <tr>
      <th><%= t("meetups.new.title") %></th>
      <td>
        <p><%= t("meetups.new.title_explain") %></p>
        <%= f.text_field :title %>
      </td>
    </tr>

    <tr>
      <th><%= t("meetups.new.description") %></th>
      <td><%= f.text_area :description, size: "40x5" %></td>
    </tr>

    <tr>
      <th>Publicness</th>
      <td>
        <%= t("meetups.new.public_explain") %><br>

        <span class="fontCB">
          public:Yes<br> private:No
        </span><br>

        <%= f.select :public, options_for_select([["public", 1], ["private", 0]], 1) %>
      </td>
    </tr>
  </table>

  <p class="textC"><%= f.submit t("general.send"), {class: "btn1"} %></p>
<% end %>
