<%= stylesheet_link_tag "views/registration", :media => "all" %>

<%= form_for(@meetup, html: {id: "registration"}) do |f| %>
  <% if @meetup.errors.any? %>
    <div id="error_explanation">
      <h3><%= t("errors.template.body") %></h3>
      <ul>
      <% @meetup.errors.full_messages.each do |msg| %>
        <li><strong><p class="fontCR"><%= msg %></p></strong></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag :member, params[:member] %>

  <table>
    <tr>
      <th><%= t("meetups.new.title") %></th>
      <td>
        <p><%= t("meetups.new.title_explain_html") %></p>
        <%= f.text_field :title %>
      </td>
    </tr>

    <tr>
      <th><%= t("meetups.new.begin_at") %></th>
      <td><%= f.datetime_select :begin_at, :minute_step => 10 %></td>
    </tr>

    <tr>
      <th><%= t("meetups.new.end_at") %></th>
      <td><%= f.datetime_select :end_at, :minute_step => 10 %></td>
    </tr>

    <tr>
      <th><%= t("meetups.new.area") %><br /></th>
      <td>
        <p><%= t("meetups.new.area_explain") %></p>
        <%= f.collection_select(:area_id, Area.all, :id, :name) %>
      </td>
    </tr>

    <tr>
      <th><%= t("meetups.new.place") %><br /></th>
      <td>
        <p><%= t("meetups.new.place_explain") %></p>
        <%= f.text_field :place %>
      </td>
    </tr>
    <tr>
      <th><%= t("meetups.new.url") %><br /></th>
      <td>
        <p><%= t("meetups.new.url_explain") %></p>
        <%= f.text_field :url %>
      </td>
    </tr>
    <tr>
      <th><%= t("meetups.new.public") %></th>
      <td>
        <%= t("meetups.new.public_explain") %><br>

        <span class="fontCB">
          public:Yes<br> private:No
        </span><br>
        <%= f.select :public, options_for_select([["public", true], ["private", false]], @meetup.public) %>
      </td>
    </tr>
  </table>

  <p class="textC"><%= f.submit t("general.save"), {class: "btn1"} %></p>
<% end %>
