<%= stylesheet_link_tag "views/message", :media => "all" %>

<article class="tabs">
  <section>
    <h3>Documents</h3>
    <div>
        <p>A documents tab content1</p>
        <p>A documents tab content2</p>
    </div>
  </section>
  <section class="current">
    <h3>Info</h3>
    <div>
        <p>A info tab content1</p>
        <p>A info tab content2</p>
    </div>
  </section>
  <section>
    <h3>Credentials</h3>
    <div>
        <p>A credentials tab content1</p>
        <p>A credentials tab content2</p>
    </div>
  </section>
</article> <!-- /class="tabs" -->

<!-- conversation -->
<div id="conversation">
  <% if params[:about] && params[:about] == 'me' %>
    <h2>My Meetups</h2>
  <% else %>
    <h2>Other Meetups</h2>
  <% end %>

  <div id="status-list">
    <!--
    <div id="sortArea">
      <select name="sort" class="sort">
        <option value="" id="filter-none"><a href="#">All Conversations</a></option>
        <option value="" id="filter-fixed"><a href="#">Fixed</a></option>
        <option value="" id="filter-past"><a href="#">Past</a></option>
        <option value="" id="filter-pending"><a href="#">Pending</a></option>
        <option value="" id="filter-declined"><a href="#">Declined</a></option>
        <option value="" id="filter-unread"><a href="#">Unread</a></option>
      </select>
    </div>
    -->

    <ul class="list">
      <% @meetups.each do |meetup| %>
        <%
           target_user = nil
           meetup.users.each do |u|
             next if u == current_user
             target_user = u
             break
           end
           if target_user.blank?
             target_user = current_user
           end
         %>
        <li>
        <p class="thumb"><%= image_tag facebook_image_url(target_user.id, 'square'), width:"75", height:"75", alt:"" %></p>
        <p class="name"><%= link_to target_user.name, user_path(target_user) %></p>
        <p class="data"><%= meetup.begin_at.blank? ? link_to('????/??/??', meetup_path(meetup)) : link_to(meetup.begin_at.strftime("%Y/%m/%d"), meetup_path(meetup)) %></p>
        <p class="description"><%= link_to meetup.title, meetup_path(meetup) %></p>
        <!-- FIXME -->
        <%
          status = String.new
          case @user.meetup_status(meetup)
          when 0
            status = "INVITED"
          when 1
            status = "ATTEND"
          when 2
            status = "DECLINED"
          else
          end
        %>
        <p class="status fixed"><%= status %></p>
        </li>
      <% end if @meetups %>
    </ul>
  </div>

</div>
<!-- /conversation -->

