<%= stylesheet_link_tag "views/message.scss.css", :media => "all" %>

<p id="notice" style='color: red;'><%= notice %></p>

<!-- conversation -->
<div id="conversation">
  <h2>
    <%= @meetup_users.size > 1 ? t("meetups.show.conversation_prefix") : t("meetups.show.conversation_prefix_sole") %>
    <%= @meetup_users_except_me.map {|u| u.active? ? ( link_to u.name, user_path(u) ) : ( u.name ) }.join(',').html_safe %>
    <%= @meetup_users.size > 1 ? t("meetups.show.conversation_postfix") : t("meetups.show.conversation_postfix_sole") %>
    <br><span class="fontCR"><%= t("meetups.show.payment_policy") %></span>
  </h2>
  <h3>
    <%= @meetup.title.blank? ? t("meetups.new.not_decided_html") : @meetup.title %>　
    <%= @meetup.begin_at.blank? ? t("meetups.new.not_decided_html") : @meetup.begin_at.strftime("%Y/%m/%d %H:%M:%S") %>〜
  </h3>

  <!-- addressee -->
  <div id="addressee">
    <div class="addresseeDetail">
      <% if current_user %>
        <% if @meetup.fixed and @attend_users.include? current_user %>
          <div id="invite_friend">
            <button id='invite_friend_button'>Invite Friends</button>
        
            <div id='invite_friend_box' style='display: none;'>
              <%= form_tag "/meetups/#{@meetup.id}/invite" do %>
                <%= select_tag 'invited_user_id', options_for_select(User.where('active = 1').map {|n| [ n.name, n.id ] }) %>
                <%= submit_tag 'invite_friend_submit', class: 'btn2', value: 'send' %>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if @meetup_users.include? current_user and not @meetup.answered?( current_user ) %>
          <div id="meetup_status">
            <button id='meetup_status_button'>Change your meetup status</button>
      
            <%
              meetup_status_for_select = nil
              if @user.meetup_status(@meetup) != MEETUP_STATUS_INVITED
                meetup_status_for_select = @user.meetup_status(@meetup)
              end
            %>
      
            <div id='meetup_status_form' style='display: none;'>
              <%= form_tag "/meetups/#{@meetup.id}/status" do %>
                <%= select_tag 'meetup_status_select', options_for_select([["Attend", MEETUP_STATUS_ATTEND], ["Decline", MEETUP_STATUS_DECLINED]], meetup_status_for_select ), {prompt: '(set your status)'} %>
                <%= submit_tag 'meetup_status_submit', class: 'btn1', value: 'save' %>
              <% end %>
            </div>
      
          </div>
        <% end %>
      <% end %>


      <script>
        $('#invite_friend_button').click(function () {
          $('#invite_friend_box').toggle();
        });

        $('#meetup_status_button').click(function () {
          $('#meetup_status_form').toggle();
        });
      </script>

      <div class="imgArea">
        <% if @attend_users.present? %>
          <p style="line-height: 150%; color: #FF5A00;"><%= @meetup.fixed? ? "Attend" : "Pending" %></p>
          <% @attend_users.each do |u| %>
            <%= facebook_image_link(u, 'square', 40) %>
          <% end %>
        <% end %>

        <% if @invited_users.present? %>
          <p style="line-height: 150%; color: #FF5A00;">Invited</p>
          <% @invited_users.each do |u| %>
            <%= facebook_image_link(u, 'square', 40) %>
          <% end %>
        <% end %>

        <% if @declined_users.present? %>
          <p style="line-height: 150%; color: #FF5A00;">Declined<p>
          <% @declined_users.each do |u| %>
            <%= facebook_image_link(u, 'square', 40) %>
          <% end %>
        <% end %>
      </div>

      <div class="detailArea">
          <dl class="dlStyle1">
            <dt><%= t("meetups.show.status") %></dt>
            <dd><%= @meetup.fixed              ? t("general.meetup.fixed_html") : t("general.meetup.not_fixed_html") %></dd>
            <dt><%= t("meetups.show.area_name") %></dt>
            <dd><%= @meetup.area.blank?        ? t("meetups.new.not_decided_html") : @meetup.area.name %></dd>
            <dt><%= t("meetups.show.place") %></dt>
            <dd><%= @meetup.place.blank?       ? t("meetups.new.not_decided_html") : @meetup.place %></dd>
            <dt><%= t("meetups.show.url") %></dt>
            <dd><%= @meetup.url.blank?         ? t("meetups.new.not_decided_html") : link_to(@meetup.url, @meetup.url, :target => "blank") %></dd>
            <dt><%= t("meetups.show.public") %></dt>
            <dd><%= @meetup.public             ? "public" : "private" %></dd>
          </dl>
          <br>
             
        <% if current_user and @meetup.editable?( current_user ) %>
          <%= link_to t("meetups.show.update_information"), edit_meetup_path(@meetup), class: "btn3" %>
        <% end %>

        <% if current_user and @not_joined_yet %>
          <%= link_to "join this meetup", join_meetups_path(@meetup), class: "btn1" %>
        <% end %>
      </div>
    </div>
  </div>
  <!-- /addressee -->

  <% @meetup_comments.each do |comment| %>
    <% if comment.user == current_user %>
      <!-- yourAreae -->
      <div class="yourArea">
        <div class="imgArea">
          <figure>
          <%= facebook_image_link(comment.user, 'square', 50) %>
          <figcaption>you</figcaption>
          </figure>
        </div>

        <div class="detailArea">
          <div class="arrowBoxL">
            <p><%= comment.body %></p>
            <div class="col2">
              <div class="leftCol">
                <ul>
                  <!-- <li><input type="button" value="?" class="btn1" /></li> -->
                </ul>
              </div>
              <div class="rightCol">
                <p><time><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></time></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /yourAreae -->
    <% else %>
      <!-- addresseeArea -->
      <div class="addresseeArea">
        <div class="imgArea">
          <figure>
          <%= facebook_image_link(comment.user, 'square', 50) %>
          <figcaption><%= comment.user.name %></figcaption>
          </figure>
        </div>
        <div class="detailArea">
          <div class="arrowBoxR">
            <p><%= comment.body %></p>
            <div class="col2">
              <div class="leftCol">
                <ul>
                  <!-- <li><input type="button" value="?" class="btn1" /></li> -->
                </ul>
              </div>
              <div class="rightCol">
                <p><time><%= comment.created_at.strftime("%Y/%m/%d %H:%M") %></time></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- addresseeArea -->
    <% end %>
  <% end %>

  <% if current_user %>
    <% if @meetup_users.include?(current_user) %>
      <h2><%= t("meetups.show.send_message") %>:</h2>
      <%= render "meetup_comments/form" %>
    <% end %>
  <% else %>
    <% if @meetup.public %>
      <li style="text-align:center;"><a href="/auth/facebook" class="btn1"><%= t("meetups.show.login") %></a></li>
    <% end %>
  <% end %>

</div>
<!-- /conversation -->
