<p id="notice"><%= notice %></p>

<% if @not_joined_yet %>
  <%= link_to "join this meetup", join_meetups_path(@meetup) %>
<% end %>

<p>
  <b>Title:</b>
  <%= @meetup.title %>
</p>

<p>
  <b>Member:</b>
  <% @meetup.users.each_with_index do |user, idx| %>
    <% if idx == 0 %>
      <%= user.name %>
      <%= link_to "review", new_user_review_path(user_id: user.id) %>
    <% else %>
      ,<%= user.name %>
      <%= link_to "review", new_user_review_path(user_id: user.id) %>
    <% end %>
  <% end %>
</p>

<p>
  <b>Begin at:</b>
  <%= @meetup.begin_at %>
</p>

<p>
  <b>End at:</b>
  <%= @meetup.end_at %>
</p>

<p>
  <b>Area:</b>
  <%= @meetup.area.name %>
</p>

<p>
  <b>Public:</b>
  <%= @meetup.public %>
</p>

<p>
  <b>Comments:</b>
  <%= render @meetup.meetup_comments %>
</p>

<h2>Add a Comment:</h2>
<%= render "meetup_comments/form" %>

<%= link_to 'Edit', edit_meetup_path(@meetup) %> |
<%= link_to 'Back', meetups_path %>
