<p id="notice"><%= notice %></p>

<%= form_for(@user, html: {id: "registration"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><p class="fontCR"><%= msg %></p></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="fontCR">* = <%= t("general.mandatory") %></p>
  <table>
    <tr>
      <th><%= User.human_attribute_name(:name) %><span class="fontCR">*</span></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:email) %><span class="fontCR">*</span></th>
      <td><%= t("users.edit.email_explain") %><br><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:gender) %><span class="fontCR">*</span></th>
      <td><%= f.text_field :gender %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:birthday) %><span class="fontCR">*</span></th>
      <td><%= f.date_select :birthday, start_year: Time.now.year - 100, end_year: Time.now.year - 18 %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:location) %><span class="fontCR">*</span></th>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:language) %><span class="fontCR">*</span></th>
      <td>
        <p><%= t("users.edit.language_explain") %></p>
        <ul>
          <% (0..2).each do |i| %>
            <% 
              registered_lang = ''
              registered_lang = @user_languages[i].id if @user_languages and @user_languages[i]
            %>
            <li>
            <label> <%= User.human_attribute_name(:language) %></label>:
            <%= select :user, :languages, options_for_select(@all_languages.map {|l| [ l.name, l.id ]}, registered_lang), {include_blank: true}, { name: "languages[]" }  %>

            <label><%= t("general.user.language_skill") %></label>:
            <%= select :user, :languages, options_for_select( t("users.edit.language_skills")), {include_blank: true}, { name: "language_skills[]" } %>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:locale) %><span class="fontCR">*</span></th>
      <td>
        <p><%= t("users.edit.locale_explain") %></p>
        <%
          registered_locale = ''
          registered_locale = @user.locale if @user.locale
        %>
        <%= f.select :locale, options_for_select([["english", "en_US"], ["日本語", "ja_JP"]], registered_locale) %>
      </td>
    </tr>
    <tr>
      <th><%= t("users.edit.avail") %><span class="fontCR">*</span></th>
      <td>
        <p><%= t("users.edit.avail_explain_01") %> <br>
        <span class="notes"><%= t("users.edit.avail_explain_02") %></span></p>
        <% (0..2).each do |i| %>
          <%
            if @user_avails[i]
              registered_day          = @user_avails[i].day
              registered_avail_option = @user_avails[i].avail_option
              registered_area_id      = @user_avails[i].area_id
            end
          %>
          <li>
          <label><%= t("general.wday") %><%= i + 1 %></label>:
          <%= select :user_avail, :day, options_for_select( t("users.edit.avail_wdays"), registered_day), {include_blank: true}, {name: "user_avails[day][]"} %>

          <label><%= t("general.time") %><%= i + 1 %></label>:
          <%= select :user_avail, :option, options_for_select( t("users.edit.avail_options"), registered_avail_option), {include_blank: true}, {name: "user_avails[avail_option][]"} %>

          <label><%= t("general.area") %><%= i + 1 %></label>:
          <%= select :user_avail, :area_id, options_for_select(Area.all.map {|a| [ a.name, a.id ]}, registered_area_id), {include_blank: true }, {name: "user_avails[area_id][]", title: t("users.edit.avail_area_explain"), class: "tooltip" } %>
          </li>
        <% end %>
      </td>
    </tr>

    <%= stylesheet_link_tag "tooltip/tip-yellowsimple" %>
    <%= javascript_include_tag "tooltip/jquery.poshytip" %>
    <%= javascript_include_tag "tooltip/sh_main.min" %>

    <script type="text/javascript">
      //<![CDATA[
      $(function(){
        $('.tooltip').poshytip({
          className: 'tip-yellowsimple',
          showOn: 'focus',
          alignTo: 'target',
          alignX: 'inner-left',
          offsetX: -100,
          offsetY: 5
        });
      });
      //]]>
    </script>

    <tr>
      <th><%= User.human_attribute_name(:favorite_food) %></th>
      <td> <%= f.text_field :favorite_food %> </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:ng_food) %></th>
      <td> <%= f.text_field :ng_food %> </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:introduction) %><span class="fontCR">*</span></th>
      <td>
        <p><%= t("users.edit.introduction_explain") %></p>
        <%= f.text_area :introduction, size: "40x5" %>
      </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:likes) %></th>
      <td>
        <ul class="tagList">
          <%= f.text_area :likes, size: "40x5" %>
        </ul>
      </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:school) %></th>
      <td> <%= f.text_field :education %> </td>
    </tr>
    <tr>
      <th><%= User.human_attribute_name(:work) %></th>
      <td> <%= f.text_field :work %> </td>
    </tr>
  </table>

  <p class="textC"><%= f.submit t("general.register"), {class: "btn1"} %></p>
<% end %>
