<p id="notice"><%= notice %></p>

<%= form_for(@user, html: {id: "registration"}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr>
      <th>Name</th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th>email</th>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <th>gender</th>
      <td><%= f.text_field :gender %></td>
    </tr>
    <tr>
      <th>Birthday</th>
      <td><%= f.date_select :birthday, start_year: Time.now.year - 100 %></td>
    </tr>
    <tr>
      <th>location</th>
      <td><%= f.text_field :location %></td>
    </tr>
    <tr>
      <th>Language</th>
      <td>
        <p>Choose languages and skill you can use</p>
        <ul>
          <% (0..2).each do |i| %>
            <li>
            <% if @user_languages[i] %>
              <label> Languages : <%= select :user, :languages, options_for_select(@all_languages.map {|l| [ l.name, l.id ]}, @user_languages[i].id), {include_blank: true}, { name: "languages[]" }  %></label>
            <% else %>
              <label> Languages : <%= select :user, :languages, options_for_select(@all_languages.map {|l| [ l.name, l.id ]}), {include_blank: true}, { name: "languages[]" }  %></label>
            <% end %>
            <label>Skill:<%= select :user, :languages, options_for_select(["expert","Intermediate","beginner"]), {include_blank: true}, { name: "language_skills[]" } %> </label>
            </li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th>locale</th>
      <% if @user.locale.blank? %>
        <td><label> <%= f.select :locale, options_for_select([["english", "en_US"], ["日本語", "ja_JP"]]) %></label>
      <% else %>
        <td><label> <%= f.select :locale, options_for_select([["english", "en_US"], ["日本語", "ja_JP"]], @user.locale) %></label>
      <% end %>
      </td>
    </tr>
    <tr>
      <th>Avaliability</th>
      <td>
        <p>Choose dining you can have with foreign traveler <span class="notes">(In your normal life, of course you can decline someone's request even though someone send request when you're available on this form)</span></p>
          <% (0..2).each do |i| %>
            <li>
            <% if @user_avails[i] %>
              <label>Day: <%= select :user_avail, :day, options_for_select(["anyday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"], @user_avails[i].day), {include_blank: true}, {name: "user_avails[day][]"} %></label>
              <label>Time: <%= select :user_avail, :option, options_for_select(["anytime", "Breakfast", "Lunch", "Dinner", "Cafe", "Drink"], @user_avails[i].avail_option), {include_blank: true}, {name: "user_avails[avail_option][]"} %> </label>
              <label>Area  : <%= select :user_avail, :area_id, options_for_select(Area.all.map {|a| [ a.name, a.id ]}, @user_avails[i].area_id), {}, {name: "user_avails[area_id][]"} %> </label>
            <% else %>
              <label>Day: <%= select :user_avail, :day, options_for_select(["anyday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"]), {include_blank: true}, {name: "user_avails[day][]"} %></label>
              <label>Time: <%= select :user_avail, :option, options_for_select(["anytime", "Breakfast", "Lunch", "Dinner", "Cafe", "Drink"]), {include_blank: true}, {name: "user_avails[avail_option][]"} %> </label>
              <label>Area  : <%= select :user_avail, :area_id, options_for_select(Area.all.map {|a| [ a.name, a.id ]}), {}, {name: "user_avails[area_id][]"} %> </label>
            <% end %>
            </li>
          <% end %>
      </td>
    </tr>
    <tr>
      <th>Message</th>
      <td>
        <p>Enter your message to other user!! e.g.)Explanation of yourself, when you hope for Relicious, etc...</p>
        <%= f.text_area :introduction, size: "40x5" %>
      </td>
    </tr>
    <tr>
      <th>Interest</th>
      <td>
        <ul class="tagList">
          <% if @likes.blank? %>
            <%= f.text_area :likes, size: "40x5" %>
          <% else %>
            <%= f.text_area :likes, value: @likes, size: "40x5" %>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th>School</th>
      <td> <%= f.text_field :education %> </td>
    </tr>
    <tr>
      <th>Work</th>
      <td> <%= f.text_field :work %> </td>
    </tr>
  </table>

  <p class="textC"><%= f.submit "Register", {class: "btn1"} %></p>
<% end %>
