<p id="notice"><%= notice %></p>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :locale %><br />
    <%= f.text_field :locale %>
  </div>
  <div class="field">
    <%= f.label :education %><br />
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :work %><br />
    <%= f.text_field :work %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    Languages : <br>
    <% if @user_languages.blank? %>
        <%= select :user, :languages, options_for_select(@all_languages.map {|l| [ l.name, l.id ]}), { }, { name: "languages[]" }  %>
    <% else %>
      <% @user_languages.each do |ul| %>
        <%= select :user, :languages, options_for_select(@all_languages.map {|l| [ l.name, l.id ]}, ul.id), { }, { name: "languages[]" }  %><br>
      <% end %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :likes %><br />
    <% if @likes.blank? %>
      <%= f.text_area :likes, size: "40x5" %>
    <% else %>
      <%= f.text_area :likes, value: @likes, size: "40x5" %>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_area :introduction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
