<%= stylesheet_link_tag "views/registration", :media => "all" %>

<h2><%= t("users.edit.header_text") %></h2>

<%= render 'form' %>

<%= form_tag user_withdraw_path, id: 'form_withdraw' do %>
  <%= submit_tag 'delete your account', :confirm => t("users.withdraw.confirm") %>
<% end %>
