<h1>Listing users</h1>

<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
<%= stylesheet_link_tag 'jquery-ui-1.7.3.custom.css' %>

<%= form_tag users_path, :method => 'get' do %>
  <p>
    Location: <%= text_field_tag "search[location]" %>
    Date :    <%= text_field_tag "search[date]", "", id: 'datepicker' %>
  </p>

  <%= submit_tag "Search", :name => nil %>
<% end %>

<script type="text/javascript">
  $(function() {
      $("#datepicker").datepicker();
      });
</script>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Introduction</th>
    <th>Education</th>
    <th>Work</th>
    <th>Location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.birthday %></td>
    <td><%= user.introduction %></td>
    <td><%= user.education %></td>
    <td><%= user.work %></td>
    <td><%= user.location %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

