<%= stylesheet_link_tag "views/search", :media => "all" %>

<%#= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' %>
<%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js' %>
<%= stylesheet_link_tag 'jquery-ui-1.7.3.custom.css' %>
<script type="text/javascript">
  $(function() {
      $("#datepicker").datepicker();
      });
</script>

<!-- breadcrumb -->
<nav id="breadcrumb">
<p><a href="../" rel="index up">TOP</a> > <%= t("general.user_search") %></p>
</nav>
<!-- /breadcrumb -->

<!-- findLocal -->
<div id="findLocal">

  <h2><%= t("users.index.search_greeting") %></h2>    

  <!-- localSearch -->
  <div id="localSearch">
    <div id="localSearch">
      <p class="fontS"><%= t("general.search.explain") %></p>
      <%= form_tag users_path, :method => 'get' do %>
        <ul class="findSearch">
          <li><%= text_field_tag "search[location]", "", placeholder: t("general.search.location_placeholder"), class: "textBox" %> </li>
          <li class="date"><label><%= t("general.search.day") %><br><%= text_field_tag "search[date]", "", id: 'datepicker', placeholder: "mm/dd/yyyy" %> </label></li>
          <li class="time"><label><%= t("general.search.option") %><br><%= select_tag "search[time]", options_for_select( t("general.search.options") ), {include_blank: true} %> </label></li>
          <li><%= submit_tag t("general.search.button"), :name => nil, class: "btn1 searchBtn" %></li>
        </ul>
      <% end %>

      <!-- TODO
      <dl class="interest">
        <dt><%= t("users.index.feeling_explain") %></dt>
        <dd><a href="#" class="btn3">(coming soon)</a></dd>
      </dl>
      -->

    </form>
  </div>
  <!-- /localSearch -->

  <!-- findPeopleArea -->
  <% @users.each do |user| %>
    <div class="findPeopleArea">
      <div class="imgArea">
        <p><%= link_to image_tag( facebook_image_url(user.id, 'normal'), width:"150", height:"150", alt:"picture"), user_path(user) %></p>
        <%= user.name %><br>
        (<%= user.gender %>)</p>
      </div>

      <div class="detailArea">
        <div class="arrowBoxL">
          <p><strong>Hey,I'm <%= user.name %>!!</strong><br>
          <%= user.introduction %></p>
        </div>

        <dl class="cotegory1">
          <dt><%= t("general.area") %>:</dt>
          <% 
            area_names = Array.new
            user.user_avails.each_with_index do |ua, idx|
              next if ua.area.blank?
              area_names << ua.area.name
            end
          %>
          <% if area_names.blank? %>
            <dd>-</dd>
          <% else %>
            <dd><%= area_names.join(',') %></dd>
          <% end %>
        </dl>

        <dl class="cotegory2">
          <dt><%= t("general.review") %>:</dt>
          <dd><%= user.received_reviews.size %></dd>
          <!-- FIXME
          <dt>Pictures:</dt>
          <dt>Reply Rate:</dt>
          <dd>100%</dd> -->
        </dl>

        <h3><%= t("users.index.user_about") %></h3>
        <dl class="cotegory3">
          <dt><%= t("users.index.user_basics") %>:</dt>
          <dd><%= user.birthday%>, <%= user.gender %>, <%= user.location %></dd>

          <dt><%= t("users.index.user_avails") %>:</dt>
          <% if user.user_avails.blank? %>
            <dd>-</dd>
          <% else %>
            <dd><%= render user.user_avails %></dd>
          <% end %>

          <%
            languages = []
            if user.user_languages.blank?
              languages << '-'
            else
              user.user_languages.each do |ul|
                languages << "#{ul.language.name}<sup>#{ul.skill.to_s}</sup>"
              end
            end
          %>
          <dt><%= User.human_attribute_name(:language) %></dt>
          <dd><%= languages.join(',').html_safe %> </dd>

        </dl>
        <% unless user == current_user %>
          <p class="btnArea">
            <%= link_to t("general.meetup_request"), "/meetups/new?member=#{user.id}", class: "btn3" %>
          </p>
        <% end %>
        <p style="text-align:right;font-weight:bold;"><%= link_to 'see more', user_path(user), style: "text-align:right;" %></p>
      </div>
    </div>
  <% end if @users %>
  <!-- /findPeopleArea -->
</div>
<!-- /findLocal -->
</table>

