<%= stylesheet_link_tag "views/message", :media => "all" %>
<%#= stylesheet_link_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-combined.min.css" %>
<%= javascript_include_tag "//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/js/bootstrap.min.js" %>

<h2>My Meetups <%= "> " + params[:status] if params[:status] %></h2>

<div class="container-fluid ds-component" data-componentid="container1">
  <div class="row-fluid ds-component" data-componentid="fluidgridrow1">
    <div class="span3 ds-component" data-componentid="gridcol31">
      <div class="well sidebar-nav ds-component" data-componentid="sidebarnav1">
        <ul class="nav nav-list">
          <li class="nav-header">Status</li>
          <li><%= "> " if params[:status] == 'attend'   %><%= link_to "ATTEND", "/users/#{@user.id}/meetups/attend"     %></li>
          <li><%= "> " if params[:status] == 'pending'  %><%= link_to "PENDING", "/users/#{@user.id}/meetups/pending"   %></li>
          <li><%= "> " if params[:status] == 'invited'  %><%= link_to "INVITED", "/users/#{@user.id}/meetups/invited"   %></li>
          <li><%= "> " if params[:status] == 'declined' %><%= link_to "DECLINED", "/users/#{@user.id}/meetups/declined" %></li>
        </ul>
      </div>
    </div>
    <div class="span9 ds-component" data-componentid="gridcol91">
      <div id="conversation">
        <div id="status-list">
          <%= render 'meetups/list' %>
        </div>
      </div>
    </div>
  </div>
</div>

