<%= stylesheet_link_tag "views/registration", :media => "all" %>

<%= render('layouts/header_user_new') %>

<h2><%= t("users.new.header_text") %></h2>

<%= render 'form' %>

<%= link_to 'Back', root_path %>
