<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Birthday:</b>
  <%= @user.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<p>
  <b>Locale:</b>
  <%= @user.locale %>
</p>

<p>
  <b>Education:</b>
  <%= @user.education %>
</p>

<p>
  <b>Work:</b>
  <%= @user.work %>
</p>

<p>
  <b>Location:</b>
  <%= @user.location %>
</p>

<p>
  <b>Languages:</b>
  <% @user.languages.each do |l| %>
    <%= l.name %>,
  <% end %>
</p>

<p>
  <b>Likes:</b>
  <%= @user.likes %>
</p>

<p>
  <b>Introduction:</b>
  <%= @user.introduction %>
</p>

<p>
  <b>About:</b>
  <%= render @user.received_reviews %>
</p>

<p>
  <b>Availability:</b>
  <%= render @user.user_avails %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
