<%= stylesheet_link_tag "views/profile", :media => "all" %>

<p id="notice"><%= notice %></p>

<!-- breadcrumb -->
<nav id="breadcrumb">
  <p><a href="/" rel="index">TOP</a> > Profile</p>
</nav>
<!-- /breadcrumb -->

<% @user_picture_url_normal = "http://graph.facebook.com/#{@user.provider_uid}/picture?type=normal" %>

<div id="profile">
  <div id="leftArea">
    <div id="profileImg">
      <div class="flexslider">
        <ul class="slides">
          <li><%= image_tag @user_picture_url_normal, width:"175", height:"175", alt:"picture" %></li>
        </ul>
      </div>
      <p class="textC"><%= link_to "Edit Profole", edit_user_path(@user) %></p>
    </div>
    <div id="vertificationArea">
      <h3>Vertification</h3>
      <div class="detail">
        <ul>
          <li class="facebook">Facebook Connected<br>
          <i class="check"> </i></li>
          <li class="linkedin">Positively Reviewed<br>
          <span>TODO: 11 Reviews</span><i class="good"> </i></li>
        </ul>
      </div>
    </div>
    <div id="school">
      <h3>School</h3>
      <div class="detail">
        <ul> <li><%= @user.education %></li> </ul>
      </div>
    </div>
    <div id="work">
      <h3>Work</h3>
      <div class="detail">
        <ul> <li><%= @user.work %></li> </ul>
      </div>
    </div>
  </div>


  <div id="rightArea">
    <h2>Hi, I'm <%= @user.name %>!
      <% unless @user == current_user %>
        <a href=<%= "/meetups/new?member=#{@user.id}" %> class="btn1">Have dining with</a><span>Member since <%= @user.created_at %></span>
      <% end %>
    </h2>
    <dl class="dlStyle2">
      <dt>Name</dt>
      <% if @user.name.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.name %></dd>
      <% end %>

      <dt>Gender</dt>
      <% if @user.gender.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.gender %></dd>
      <% end %>

      <dt>Birthdate</dt>
      <% if @user.birthday.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.birthday %></dd>
      <% end %>

      <dt>Language</dt>
      <% if @user.languages.blank? %>
        <dd>-</dd>
      <% else %>
        <dd>
        <% @user.languages.each do |l| %>
          <%= l.name %>,
        <% end %>
        </dd>
      <% end %>

      <dt>Avaliability</dt>
      <% if @user.user_avails.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= render @user.user_avails %></dd>
      <% end %>

      <dt>Message</dt>
      <% if @user.introduction.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.introduction %></dd>
      <% end %>

      <dt>Interest</dt>
      <% if @user.likes.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.likes %></dd>
      <% end %>
    </dl>

    <h3>About <%= @user.name %></h3>
    <!-- aboutArea -->
    <div id="aboutArea">
      <%= render @user.received_reviews %>
    </div>
    <!-- /aboutArea -->
  </div>
</div>
<!-- /profile -->

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
