<%= stylesheet_link_tag "views/profile", :media => "all" %>

<p id="notice"><%= notice %></p>

<!-- breadcrumb -->
<nav id="breadcrumb">
  <p><a href="/" rel="index">TOP</a> > Profile</p>
</nav>
<!-- /breadcrumb -->

<% @user_picture_url_normal = "http://graph.facebook.com/#{@user.provider_uid}/picture?type=normal" %>

<div id="profile">
  <div id="leftArea">
    <div id="profileImg">
      <div class="flexslider">
        <ul class="slides">
          <li><%= image_tag @user_picture_url_normal, width:"175", height:"175", alt:"picture" %></li>
        </ul>
      </div>
      <% if @user == current_user %>
        <p class="textC"><%= link_to "Edit Profole", edit_user_path(@user) %></p>
      <% end %>
    </div>
    <div id="vertificationArea">
      <h3>Vertification</h3>
      <div class="detail">
        <ul>
          <li class="facebook">Facebook Connected<br>
          <i class="check"> </i></li>
          <li class="linkedin">Positively Reviewed<br>
          <span><%= @positive_reviews.size %> Reviews</span><i class="check"> </i></li>
        </ul>
      </div>
    </div>
    <div id="school">
      <h3>School</h3>
      <div class="detail">
        <ul> <li><%= @user.education %></li> </ul>
      </div>
    </div>
    <div id="work">
      <h3>Work</h3>
      <div class="detail">
        <ul> <li><%= @user.work %></li> </ul>
      </div>
    </div>
  </div>


  <div id="rightArea">
    <h2>Hi, I'm <%= @user.name %>!
      <% if current_user and @user != current_user %>
        <a href=<%= "/meetups/new?member=#{@user.id}" %> class="btn1">Have dining with</a><span>Member since <%= @user.created_at.strftime("%Y/%m/%d") %></span>
      <% end %>
    </h2>
    <dl class="dlStyle2">
      <dt><%= User.human_attribute_name("name") %></dt>
      <% if @user.name.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.name %> | <%= link_to image_tag('social_balloon-14.png', size: "20x20"), "https://facebook.com/#{@user.provider_uid}" %></dd>
      <% end %>

      <dt>Gender</dt>
      <dd><%= @user.gender.blank? ? "-" : @user.gender %></dd>

      <dt>Age</dt>
      <% if @user.birthday.blank? %>
        <dd>-</dd>
      <% else %>
        <% @years = Time.now.strftime("%Y").to_i - @user.birthday.strftime("%Y").to_i %>
        <% @monthes = Time.now.strftime("%m%d").to_i - @user.birthday.strftime("%m%d").to_i %>
        <% @years -= 1 if @monthes < 1 %>
        <dd><%= @years %></dd>
      <% end %>

      <dt>Birthdate</dt>
      <dd><%= @user.birthday.blank? ? "-" : @user.birthday.strftime("%m/%d") %></dd>

      <dt>Location</dt>
      <dd><%= @user.location.blank? ? "-" : @user.location %></dd>

       <dt>Language</dt>
      <% if @user.languages.blank? %>
        <dd>-</dd>
      <% else %>
        <dd>
        <% @user.languages.each do |l| %>
          <%= l.name %>,
        <% end %>
        </dd>
      <% end %>

      <dt>Avaliability</dt>
      <% if @user.user_avails.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= render @user.user_avails %></dd>
      <% end %>

      <dt><%= t("users.edit.favorite_food") %></dt>
      <dd><%= @user.favorite_food.blank? ? "-" : @user.favorite_food %></dd>

      <dt><%= t("users.edit.ng_food") %></dt>
      <dd><%= @user.ng_food.blank? ? "-" : @user.ng_food %></dd>

      <dt>Message</dt>
      <dd><%= @user.introduction.blank? ? "-" : @user.introduction %></dd>

      <dt>Interest</dt>
      <% if @user.likes.blank? %>
        <dd>-</dd>
      <% else %>
        <dd><%= @user.likes %></dd>
      <% end %>
    </dl>

    <h3>About <%= @user.name %></h3>
    <!-- aboutArea -->
    <div id="aboutArea">
      <%= render @user.received_reviews %>
    </div>
    <!-- /aboutArea -->
  </div>
</div>
<!-- /profile -->

