<%= stylesheet_link_tag "views/review", :media => "all" %>

<%
  if @user_review.id
    @form_url = user_review_path(user_id: @reviewed_user.id, id: @user_review.id)
  else
    @user_review = @reviewed_user.received_reviews.build
    @form_url = user_reviews_path(user_id: @reviewed_user.id)
  end
%>

<%= form_for( [@reviewed_user, @user_review], url: @form_url ) do |f| %>
  <% if @user_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_review.errors.count, "error") %> prohibited this user_review from being saved:</h2>

      <ul>
      <% @user_review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%#= f.select :meetup_id, options_for_select(@meetup_candidates.map {|m| [ m.title, m.id ]}) %>
  <%= f.hidden_field :meetup_id, value: @meetup_candidates[0].id %>

  <!-- reviewArea -->
  <div id="reviewArea">
    <div class="reviewHead">
      <%= link_to image_tag("http://graph.facebook.com/#{@reviewed_user.provider_uid}/picture?type=normal", width:"150", height:"150", alt:"picture"), user_path(@reviewed_user) %>
      <h1><%= link_to @reviewed_user.name, user_path(@reviewed_user) %></h1>
    </div>
    <p class="fontCR">* = Mandatory</p>
    <form class="form">
      <ul id="impression">
        <li>
          <h3><%= t("user_reviews.new.about_experience") %></h3>
          <%= f.text_area :about_experience %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.about_user") %></h3>
          <%= f.text_area :about_user %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.about_communication") %><span class="fontCR">*</span></h3>
          <p><%= t("user_reviews.new.about_communication_explain") %></p>
        <%= f.select :eval_communication, [1,2,3,4,5] %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.recommend") %><span class="fontCR">*</span></h3>
          <%= f.select :recommend, [["yes", 1], ["no", 0]] %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.familiarity") %><span class="fontCR">*</span></h3>
          <%= f.select :familiarity_for_area, options_for_select( t("user_reviews.new.familiarities") ) %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.eval_personal") %><span class="fontCR">*</span></h3>
          <p><%= t("user_reviews.new.eval_personal_explain") %></p>
          <%= f.select :eval_personal, [1,2,3,4,5] %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.eval_language") %><span class="fontCR">*</span></h3>
          <p><%= t("user_reviews.new.eval_language_explain") %></p>
          <%= f.select :eval_language, [1,2,3,4,5] %>
        </li>
        <li>
          <h3><%= t("user_reviews.new.eval_groumet") %><span class="fontCR">*</span></h3>
          <p><%= t("user_reviews.new.eval_groumet_explain") %></p>
          <%= f.select :eval_gourmet, [1,2,3,4,5] %>
        </li>
      </ul>
        
      <p class="textC"><%= f.submit t("general.send"), class: "btn2" %></p>
    </form>
  </div>
  <!-- /reviewArea -->
<% end %>
