<div class="box1">
  <h4>From <%= link_to user_review.user.name, user_path(user_review.user) %></a></h4>
  <div class="aboutBox">
    <div class="imgArea">
      <% @review_user_picture_url = "http://graph.facebook.com/#{user_review.user.provider_uid}/picture?type=square" %>
      <%= image_tag @review_user_picture_url, width:"100", height:"100", alt:"" %>
    </div>

    <div class="positiveArea">
      <h5>Recommend: <%= user_review.recommend ? "positive" : "negative" %></h5>
      <dl>
        <dt>About <%= @user.name %></dt>
        <dd><%= user_review.about_user %></dd>
        <dt>What we did</dt>
        <dd><%= user_review.about_experience %></dd>
      </dl>
    </div>
    <%= link_to "see detail", user_review_path(user_id: @user.id, id: user_review.id) %>
  </div>
</div>
