<div class="box1">
  <h4>From <%= user_review.user.name %></a></h4>
  <div class="aboutBox">
    <div class="imgArea">
      <%= facebook_image_link(user_review.user, 'square', 100) %>
    </div>

    <div class="positiveArea">
      <h5><%= t("general.recommend") %>: <%= user_review.recommend ? t("general.review_positive") : t("general.review_negative") %></h5>
      <dl>
        <dt><%= t("user_reviews.show.about_user", user: @user.name) %></dt>
        <dd><%= user_review.about_user %></dd>
        <dt><%= t("user_reviews.show.about_experience") %></dt>
        <dd><%= user_review.about_experience %></dd>
      </dl>
      <p class="textR"><%= link_to "see detail", user_review_path(user_id: @user.id, id: user_review.id) %></p>
    </div>
  </div>
</div>
