<header id="header">
<div id="headerArea">
  <div id="logo">
    <h1 id="logoTitle"><%= link_to image_tag("/assets/logo.jpg", width: "105", height: "60", alt: "Relicious"), root_path %></h1>
  </div>

  <nav>
  <ul id="nav">
    <li><%= link_to t("header.link.users_html"), users_path %></li>
  </ul>
  </nav>

  <div id="subInfo">
    <ul id="subInfoTop">
        <%= link_to current_user.name, user_path(current_user) %> |
        <%= link_to "logout", logout_path %>
    </ul>

    <ul id="subInfoBottom">
      <!--<li class="messageLink"><a href=<%= "/meetups" %> >Message<span>2</span></a></li> -->
      <li class="messageLink"><a href=<%= "/meetups?about=me" %> ></a></li>

      <li>
      <%= form_tag users_path, :method => 'get', id: "searchHeader" do %>
        <ul class="findSearch">
          <li> <%= text_field_tag "search[location]", "", placeholder: t("general.search.location_placeholder"), class: "textarea" %> </li>
          <li><%= submit_tag t("general.search.button"), :name => nil, class: "btn1" %></li>
        </ul>
      <% end %>
      </li>
    </ul>
  </div>
</div>
</header>
