<!DOCTYPE html>
<html>
<head>
  <title>Relicious</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user %>
    <%= current_user.name %> さん |
    <%= link_to "ログアウト", logout_path %>
  <% else %>
    <%#= link_to "Twitter でログイン", "/auth/twitter" %>
    <%= link_to "Facebook でログイン", "/auth/facebook " %>
  <% end %>

  <%= yield %>

  <%= render 'layouts/footer' %>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
