<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Relicious, lunch" />
  <meta name="description" content="Relicious Connect to the foreign local over the dining table!" />

  <title>Relicious</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <%= render 'layouts/google_analytics' if Rails.env.production? %>
</head>

  <body>
    <%= "<h1>開発環境だよ〜ん。</h1>".html_safe if Rails.env.development? %>
  
    <% if current_user %>
      <%= render 'layouts/header' %>
    <% elsif params[:controller] == 'users' and params[:action] == 'new' %>
      <%= render('layouts/header_user_new') %>
    <% end %>
  
    <nav id="breadcrumb"><p><%= render_breadcrumbs %></p></nav>

    <div id="contents"><%= yield %></div>
  
    <%= render 'layouts/footer' %>
  
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
