<!DOCTYPE html>
<html>
<head>
  <title>Relicious</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class='header'>
    <%= link_to 'Relicious', root_path %><br/>
    <% if @user %>
      <%= @user.name %> さん |
      <%= link_to "ログアウト", logout_path %>
    <% else %>
      <%#= link_to "Twitter でログイン", "/auth/twitter" %>
      <%= link_to "Facebook でログイン", "/auth/facebook " %>
    <% end %>
  </div>

  <div class='sub-header'>
    <%= link_to 'meetups', meetups_path %>
    <%= link_to 'users', users_path %>
  </div>

  <%= yield %>

  <div class='footer'>
    <%= render 'layouts/footer' %>
  </div>
  <%= debug(params) if Rails.env.development? %>
</body>
</html>
