<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="keywords" content="Relicious, lunch" />
  <meta name="description" content="Relicious Connect to the foreign local over the dining table!" />

  <title>Relicious - log in / Sign in -</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body id="login">

<% if current_user %>
  <!-- header -->
  <header id="header">
  <div id="headerArea">
    <div id="logo">
      <h1 id="logoTitle"><%= link_to image_tag("/assets/logo.png", width: "105", height: "60", alt: "Relicious"), root_path %></h1>
    </div>
    <nav>
    <ul id="nav">
      <li><a href="/users">Find<br> <strong>Local</strong><br> People</a></li>
      <li><a href="/users">Find<br> <strong>Foreign</strong><br> travelers</a></li>
    </ul>
    </nav>
    <div id="subInfo">
      <ul id="subInfoTop">
          <%= link_to current_user.name, user_path(current_user) %> |
          <%= link_to "logout", logout_path %>
      </ul>
      <ul id="subInfoBottom">
        <li class="messageLink"><a href=<%= "/meetups" %> >Message<span>2</span></a></li>
        <li>
        <%= form_tag users_path, :method => 'get', id: "searchHeader" do %>
          <ul class="findSearch">
            <li> <%= text_field_tag "search[location]", "", placeholder: "Area (e.g. Tokyo Kyoto Osaka)", class: "textarea" %> </li>
            <li><%= submit_tag "Search", :name => nil, class: "btn1" %></li>
          </ul>
        <% end %>
        </li>
      </ul>
    </div>
  </div>
  </header>
  <!-- /header -->
<% end %>

  <div id="contents">
    <%= yield %>
  </div>

  <!-- footer -->
  <div class='footer' id="footer">
    <%= render 'layouts/footer' %>
  </div>
  <!-- /footer -->

  <%#= debug(params) if Rails.env.development? %>
</body>
</html>
